This is the Dogs form
<%= form_for :dog, url: '/dogs' do |f| %> 
  <div>
    Name: <%= f.text_field :name %><br>
    Breed: <%= f.text_field :breed %><br>
    Age: <%= f.number_field :age %><br>
    Notes: <br><%= f.text_area :notes , cols: "30", rows: "10" %><br><br>
    
    <%= f.submit %>
  </div>
<% end %>