<h1>Hello, <%= @user.name %>!</h1>

<%= "Currently Scheduled Walks:" %><br>
  <% walks = @user.walks.uniq {|w| w.id } %>
  <% walks.each do |w| %>
  <%#byebug%>
    <%= link_to "#{w.date} @ #{w.time} with #{w.walker_name}", user_walk_path(@user.id, w.id) %><br>
    <%= safe_join(w.dogs.map { |d| d.name}, ', ') %><br><br><br>
    <%# byebug %>

    <%end%>

Your currently registerd dogs:<br>
<% if @dogs %>
  <% @dogs.each do |d| %>
    <%= link_to d.name, user_dog_path(d) %><br>
  <% end %>
<% end %><br><br>

<%= button_to "Schedule a Walk", walks_path, {method: :get} %><br>
<%= button_to "Add a new dog", new_dog_path, {method: :get} %><br><br>
