<h3> <%= walk.walker_name %>'s Walk </h3>
<p><%= walk.date %> @ <%= walk.time %></p>
<p><%= walk.length %> Mins, <%= (walk.available_spots) - (walk.dogs.count) %> spots available </p>
<p><%= "Notes: " %> <%= walk.notes %></p>
