<%= render partial: 'form', locals: { walk: @walk } %><br>
<%= render partial: 'show_dogs', locals: { walk: @walk } %><br><br>
<%= render partial: 'update_dogs', locals: { walk: @walk} %><br><br><br><br>


<p><%= button_to "Go to your Page", user_path(current_user.id), {method: :get} %></p>
<p><%= button_to "Confirm", walks_path, {method: :get} %></p><br>
